body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.fadeMe {
    opacity:0.9;
    background-color:#ccc;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

div.fadeMe .overlay-controls{
  display:flex;
  align-items:center;
}

div.fadeMe .overlay-message{
  font-size: 3rem;
  background-color: cadetblue;
  padding: 1em 0.5em;
  font-weight: 600;
  border: 3px solid;
}

div.fadeMe.hidden {
  display:none;
}

div.fadeMe button {
  font-size: 3rem;
  color:white;
  background-color: black;
  margin:1em;
}

div.fadeMe button:hover {
  background-color: rgb(91, 128, 160);
}